{
  "presets": [[
    "@babel/preset-env", 
    {
      "targets": "last 2 Chrome versions"
    }
  ]],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
