{
  "presets": [[
    "@babel/preset-env",
    {
      "targets": "last 2 Chrome versions",
      "modules": false
    }
  ]],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
